#first{
    background-color: red;

}
#second{
    background-color: yellow;
}
#third{
    background-color: blueviolet;
}
#fourth{
    background-color: greenyellow;
}
.zag{
    border: 2px;
    border-width: 25px;
}
#text1{
    border-color: red;
}
#list2{
    background-color: yellow;
}
#tab3{
    background-color: blueviolet;
}
#zob4{
    background-color: greenyellow;
}
.parent{
    position: relative;
}
.child{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
}