body{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#parag{
    font-size:120%
}
h1{
    text-align: center;
 font-size: 24px;
}
#bio:link{
color:#19ada1;
}

#bio:visited {
color:#6b6b6b;
}
#nova:link{
color:blue;
}
#nova:visited {
color:chartreuse;

}
#friend:link{
color:darkorchid;
}
#friend:visited{
color:deeppink;
}
#gallery:link{
color:orange;
}
#gallery:visited{
color:crimson;
}
.row {
    display: flex;
          flex-wrap: wrap;
          flex-direction: row;

  }
  
  /* Large devices */
  @media (min-width: 992px) {
    .col-lg-1 {
    flex-basis: 8.33%;
    }
    .col-lg-2 {
        flex-basis: 16.66%;
    }
    .col-lg-3 {
        flex-basis: 25%;
    }
    .col-lg-4 {
        flex-basis: 33.33%;
    }
    .col-lg-5 {
        flex-basis: 41.66%;
    }
    .col-lg-6 {
        flex-basis: 50%;
    }
    
    .col-lg-7 {
        flex-basis: 58.33%;
    }
    .col-lg-8 {
        flex-basis: 66.66%;
    }
    .col-lg-9 {
        flex-basis: 75%;
    }
    .col-lg-10 {
        flex-basis: 83.33%;
    }
    .col-lg-11 {
        flex-basis: 91.66%;
    }
    .col-lg-12 {
        flex-basis: 100%;
    }
    }
    /* Medium devices */
    @media (min-width: 768px) and (max-width: 991px) {
    .col-md-1 {
        flex-basis: 8.33%;
    }
    .col-md-2 {
        flex-basis: 16.66%;
    }
    .col-md-3 {
        flex-basis: 25%;
    }
    .col-md-4 {
        flex-basis: 33.33%;
    }
    .col-md-5 {
        flex-basis: 41.66%;
    }
    .col-md-6 {
        flex-basis: 50%;
    }
    .col-md-7 {
        flex-basis: 58.33%;
    }
    .col-md-8 {
        flex-basis: 66.66%;
    }
    .col-md-9 {
        flex-basis: 75%;
    }
    .col-md-10 {
        flex-basis: 83.33%;
    }
    .col-md-11 {
        flex-basis: 91.66%;
    }
    .col-md-12 {
        flex-basis: 100%;
    }
    }
     /* Small devices */
    @media (max-width:  767px) {
      .col-mn-1 {
        flex-basis: 8.33%;
      }
      .col-mn-2 {
        flex-basis: 16.66%;
      }
      .col-mn-3 {
        flex-basis: 25%;
      }
      .col-mn-4 {
        flex-basis: 33.33%;
      }
      .col-mn-5 {
        flex-basis: 41.66%;
      }
      .col-mn-6 {
        flex-basis: 50%;
      }
      .col-mn-7 {
        flex-basis: 58.33%;
      }
      .col-mn-8 {
        flex-basis: 66.66%;
      }
      .col-mn-9 {
        flex-basis: 75%;
      }
      .col-mn-10 {
        flex-basis: 83.33%;
      }
      .col-mn-11 {
        flex-basis: 91.66%;
      }
      .col-mn-12 {
        flex-basis: 100%;
      }
      }